<div class="app">
    <form [formGroup]="surveyForm" (ngSubmit)="submitSurveyData()" novalidate>
        <section>
            <div class="page">
                <div class="inner">
                    <div class="cont">
                        <div class="row col s12" id="headert">
                            <div class="row col s8" id="head">
                                <div id="m-title">Encuesta de Satisfacción del Cliente (Servicio)</div>
                            </div>
                            <div class="row col s4" id="head">
                                <img src="assets/Logo1.png" alt="" width="100%">
                            </div>
                        </div>

                        <div class="row col s12" id="r_row">
                            Nombre:
                            <div class="input-field inline" id="row_input">
                                <label></label>
                                <input type="text" formControlName="name" class="form-control" id="i_name" required>
                            </div>
                        </div>
                        <div class="row col s12" id="r_row">
                            Fecha:
                            <div class="input-field inline" id="row_input">
                                <label></label>
                                <input type="date" formControlName="date" class="form-control center-align" id="i_date"
                                    required>
                            </div>
                            No. de Orden:
                            <div class="input-field inline" id="row_input">
                                <label></label>
                                <input type="number" formControlName="order" class="form-control" id="i_order" required>
                            </div>
                            Asesor:
                            <div class="input-field inline" id="row_input">
                                <label></label>
                                <input type="text" formControlName="adviser" class="form-control center-align" id="i_order"
                                    required>
                            </div>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>Favor de marcar la respuesta que mejor describa su nivel de satisfacción con base a su
                                última visita, en la escala del 1 al 10, considerando 10 como la calificación más alta.</p>
                        </div>

                        <div class="row col s12" id="r_q1">
                            <p>1.- Clasifique su experiencia de servicio en general que recibió en esta concesionaria.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group1" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2.- ¿Qué tan satisfecho está con su Asesor de Servicio?</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group2" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q2">
                            <div class="row col s8" id="r_q2">
                                <p>3.- ¿Se completo todo el trabajo solicitado en esta visita?</p>
                            </div>
                            <div class="row col s4" id="r_q4">
                                <label *ngFor="let val of ['SI','NO']" id="_radio">
                                    <input type="radio" formControlName="group3" class="form-control" value="{{val}}">
                                    <span id="_yes_no">{{val}}</span>
                                </label>
                            </div>
                        </div>

                        <div class="row col s12" id="r_q3">
                            ¿Por qué razón? :
                            <div class="input-field inline" id="row_input_q">
                                <input type="text" formControlName="group3b" class="form-control" id="i_comm">
                            </div>
                        </div>


                        <div class="row col s12" id="r_q1">
                            <p>4.- ¿Que tan satisfecho está con el tiempo transcurrido para que el servicio fuera
                                completado?</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group4" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>5.- ¿Cuál es su nivel de satisfacción con las instalaciones de la concesionaria y
                                amenidades ofrecidas?</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group5" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>6.- ¿Qué probabilidad hay de que su próxima reparación o servicio sea en esta misma
                                concesionaria?</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group6" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>¿Qué podría hacer la concesionaria para mejorar? Comentarios y/o sugerencias:</p>
                        </div>
                        <div class="row col s12">
                            <textarea id="text_a" formControlName="group7" rows="5"></textarea>
                        </div>
                        <div class="row col s12" id="_footer">
                            <div class="row col s9" id="_msg_foot">
                                <p>Gracias por su tiempo, su opinión es lo más importante</p>
                            </div>
                            <div class="row col s3">
                                <p>Firma del cliente</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!--Page 2-->
        <section>
            <div class="page">
                <div class="inner">
                    <div class="cont">
                        <div class="row col s12" id="headert">
                            <div class="row col s12" id="head">
                                <div id="m-title">Encuesta de Satisfacción del Cliente (Servicio) Parte 2</div>
                            </div>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>Favor de marcar la respuesta que mejor describa su nivel de satisfacción con base a su
                                última visita, en la escala del 1 al 10, considerando 10 como la calificación más alta.</p>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>Por favor califique los siguientes aspectos:</p>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2a.- La cortesía, responsabilidad y honestidad por parte de nuestros asesores de
                                servicios.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group8" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2b.- Revisión de los componentes del vehículo (por ej. Gomas de los limpiaparabrisas,
                                pastillas de freno, etc.) y explicación de los trabajos.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group9" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2c.- Mantenerlo informado del avance del trabajo o servicio.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group10" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2d.- La condición del vehículo en la entrega (por ej. Limpio, sin daños, controles y
                                posiciones sin cambios.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group11" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2e.- La explicación de los trabajos realizados.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group12" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>2f.- Explicación de la factura y lo justo del cobro.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group13" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>3a.- ¿Por qué motivo?.</p>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>a. Disponibilidad de refacciones.</p>
                            <p>b. No se pudo encontrar el problema.</p>
                            <p>c. Se volvió a presentar la falla.</p>
                            <p>d. No se realizaron todos los trabajos o se realizaron parcialmente.</p>
                            <p>e. El taller negó que hubiera un problema / afirmó que era normal.</p>
                            <p>f. El taller estaba demasiado ocupado para terminar todo el trabajo.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of ['a','b','c','d','e','f']" id="_radio">
                                <input type="radio" formControlName="group14" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>4a.- Facilidad y disponibilidad para agendar cita.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group15" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page 3-->
        <section>
            <div class="page">
                <div class="inner">
                    <div class="cont">
                        <div class="row col s12" id="r_q1">
                            <p>4b.- Tiempo en la entrega de su vehículo.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group16" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>4c.- Tiempo total requerido para completar el servicio en su vehículo.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group17" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>5a.- Facilidad para entrar y salir.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group18" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>5b.- Limpieza de la Concesionaria.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group19" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>5c.- Comodida en el área de espera.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group20" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>5d.- Amenidades ofrecidas (bebidad, wifi, snacks, revistas, etc.).</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group21" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            <p>6a.- ¿Con la calidad del auto?.</p>
                        </div>
                        <div class="row col s12" id="selec_b">
                            <label *ngFor="let val of [1,2,3,4,5,6,7,8,9,10]" id="_radio">
                                <input type="radio" formControlName="group22" class="form-control" value="{{val}}">
                                <span>{{val}}</span>
                            </label>
                        </div>
                        <div class="row col s12" id="r_q1">
                            ¿Por qué? :
                        </div>
                        <div class="row col s12">
                            <textarea id="text_b" formControlName="group23" rows="5"></textarea>
                        </div>
                        <div class="row col s12 right-align" id="_b_sub">
                            <button type="submit" class="btn btn-success btn-large" [disabled]="!surveyForm.valid">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>