@page {margin: 0;padding: 0;}
  
    .page {
      position: relative;
      width: var(--page-width);
      min-width: var(--page-width);
      height: var(--page-height);
      min-height: var(--page-height);
      background: var(--page-color);
      margin: 0 auto;
      box-shadow: 1px 5px 15px #707070;
    }
    .page:first-of-type { margin-top: var(--margin-first-page); }
    .page:last-of-type { margin-bottom: var(--margin-last-page); }
    .bar {
      height: 100%;
      background: -webkit-linear-gradient(to right, #3a3a3c 6.8cm, var(--page-color) 6.8cm );
      background: linear-gradient(to right, #3a3a3c 6.8cm, var(--page-color) 6.8cm );
    }
    .page > .inner {
      position: relative;
      width: var(--page-inner-width);
      height: var(--page-inner-height);
      margin: 0 var(--page-inner-margin);
      top: var(--page-inner-top);
      overflow: hidden;
      border: 2mm solid var(--border-color);
    }
    .inner > .cont {
      position: relative;
      width: 100%-14mm;
      height: 100%-14mm;
      margin: var(--page-inner-margin) var(--page-inner-margin);
      overflow: hidden;
    }
    #headert{ margin-bottom: 0; }
    #head{ margin-bottom: 0; padding: 0; }
    #r_row{ margin-top: 2mm; margin-bottom : 0;  }
    #row_input{ margin-top: 0; margin-bottom: 4mm; height: 0.8cm;  }
    #row_input_q{ margin-top: 0; margin-bottom: 0; height: 0.8cm;  }
    #i_name{ width: 16.5cm; height: 0.8cm; }
    #i_date{ width: 3.5cm; height: 0.8cm; }
    #i_order{ width: 4.5cm; height: 0.8cm; }
    #i_comm{ width: 14.6cm; height: 0.8cm; }
    #i_comm,#i_date,#i_name,#i_order{
      font-size: 1em;
      font-weight: 400;
      font-family: var(--font);
      color: var(--text-color);
    }
    #r_q1{ margin-bottom: 0; margin-top: 5mm; }
    #r_q2{ margin-bottom: 0; padding-left: 0; margin-top: 3mm; }
    #r_q3{
      margin-bottom: 0;
      padding-left: 0.5cm;
      padding-right: 0;
      font-size: 1em;
    }
    #r_q4{ margin-bottom: 0; padding-left: 6mm; margin-top: 3mm; }
    #_yes_no{ font-size: 0.9em; }
    #radio_b{ padding-top: 2mm; }
    #selec_b{ margin-bottom: 3mm; margin-top: 3mm; margin-left: 1cm; }
    #text_a {
      background: none;
      border: 2px solid var(--border-color);
      resize: none;
      overflow: hidden;
     /* margin-left: 7mm;*/
      font-size: 1em;
      font-weight: 400;
      font-family: var(--font);
      color: var(--text-color);
      height: 3cm;
      margin-top: 3mm;
    }
    #text_b {
      resize: none;
      overflow: hidden;
     /* margin-left: 7mm;*/
      font-size: 1em;
      font-weight: 400;
      font-family: var(--font);
      color: var(--text-color);
      height: 2cm;
      margin-top: 3mm;
    }
    #_footer{ margin-top: 13mm; }
    #_msg_foot{ font-size: 0.8em; }
    #_radio{ margin-right: 5mm; }
    #_b_sub{ margin-top: 5.5cm; }